body{
    margin: 0;
   
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px; 
}

.color-orenge{
    color: orange;
}

section{
    
    display: flex;
    margin-bottom: 70px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.write{
    width:50%;
    padding:20px 70px;
}
.write p{
    color: gray;
}

.first-image{
    width: 50%;  
}
.first-image img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(lightsalmon , tomato) ;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}

.first-image2{
    width: 50%;  
}
.first-image2 img{
    width: 90%;
    padding: 70px;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}